#banner {
	position: static;
	/*top: 0px;
	left: 0px;
	right: 0px;*/
	width: 100%;
	height: 300px;
	/*z-index: -1;*/
	opacity: 0.90;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
}

#pos
{
	margin-right: 20%;
}

#tableForum
{
	margin-left: 40%;
	margin-right: : 30%;
	margin-bottom: 5%;
}

div.banniere{
	background: url("http://image.noelshack.com/fichiers/2018/41/3/1539175235-saint-seiya-soldiers-soul-logo-render2-by-bluerathy-s-d8putiz.png");
	background-repeat: no-repeat;
	background-position: center;
}


h1 {
	color: #000000;
	display: block;
	font-size: 300%;
	margin-top: 2%;
	text-align: center;
	font-weight: bold;

}
h2{
	color: #000000;
	display: block;
	text-align: center;

}

div.main{

	margin-bottom: 10%;
}
div.background2{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgba(0,255,255,0.1);
}


div.background2-rebelle{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgba(253, 53, 53, 0.87);
}

div.background2-spectre{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgba(133, 7, 150, 0.87);
}

div.background2-marinas{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgba(221, 173, 13, 0.87);
}

div.background2-chevalier{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgba(165, 162, 162, 0.87);
}

div.background2-anges{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgba(8, 241, 222, 0.87);
}
div.background{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(9, 70, 150, 0.438);
	background-color: rgba(128, 128, 128, 0.1);
}
div.rules{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgb(0, 102, 255,0.3)
}

div.help{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgb(255, 153, 0, 0.3);
}

	div.tav{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgb(204, 255, 51, 0.3);
}


table.background{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgba(0,255,255,0.1);
}


th{
	width: 75%;
	display: block;
	margin-left: ;
	margin-right: auto;
	border-right: 1px solid rgba(9, 70, 150, 0.438);
}

form{
	margin: 0 auto;
	width: 25%;
}
input{
	width: 100%;
}
input[type="checkbox"]{
	width:auto;
}
span{
	text-align: left;
}
p{
	width: 100%;
	font-size: 1pc;
}
ul{
	list-style-type: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul.navlinks{
	border-bottom-width:1px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	font-weight:500;
	text-align: center;
}


ul.linklist li{
	display:inline-block;
	font-size: 1em;
	line-height:2em;
	list-style-type: none;
}

*{
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

body{
	background-color: #6e6eb9;
	background-position: 50% 30%;
	background-repeat: no-repeat;
	font-family: Impact, Charcoal, sans-serif;: "Lobster", serif;
}

body.rebelle{
	background-color:rgba(253, 53, 53, 0.87);
	background-position: 50% 30%;
	background-repeat: no-repeat;
}

body.chevalier{
	background-color:rgba(165, 162, 162, 0.87);
	background-position: 0% 10%;
	background-repeat:no-repeat;
}

body.spectre{
	background-color:rgba(133, 7, 150, 0.87);
	background-position: 0% 10%;
	background-repeat:no-repeat;
}

body.marina{
	background-color:rgba(221, 173, 13, 0.87);
	background-position: 0% 10%;
	background-repeat:no-repeat;
}

body.anges{
	background-color:rgba(8, 241, 222, 0.87);
	background-position: 0% 10%;
	background-repeat:no-repeat;
}


PArea,button
{
  width: 10%;

}
PArea,button,p
{
	width: 10%;
	font-size: 1vw;
}

.textArea
{
	border-radius: 3%;
	width: 250%;
}

.bold{
	font-weight: bold;
}


.navbar{
	clear: both;
	background-color: rgb(102, 0, 204,0.3);
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 5px;
	margin-bottom: 1%;
}

.SArea:before {
	position: static;
	top: 0;
	width: 30	0%;
	padding-top: 12%;
}
.PArea {
	float: left;
	position: relative;
	width: 50%;
}

.ajustTextBox
{
	margin-left: 33%;
	padding-bottom: 15%;
	display:grid;
}

.tableForum {
 margin-left: 25%;
 margin-right:25%;
 border-spacing: 10px;
}

.tableMessage {
	border:2px solid;
  padding-left:5%;
	padding-right: 5%;
  width:300px;
  resize:both;
  overflow:auto;
}
.tableinline{
	display: inline-block;
	border-collapse: collapse;
	border-radius: 0.3em;
	overflow: hidden;
	border-spacing: 50%;
}
.background2{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3%;
	padding-right: : -3%;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgba(0,255,255,0.1);
}


.alignMessage{
	width: 90%;
	display: block;
	margin-left: 5%;
	margin-right: 10%;
	padding-left: 3%;
	padding-right: : 3%;
	border-spacing: 10px;
}

.try{
	width: 20%;
}
.previsu{
	margin-top: 12%;
	margin-bottom:5%;
	margin-right: 10%;
	margin-left: 10%;
}

.rcorners2{
margin-top: 150%;
border-radius: 20px;
border:2px solid #73AD21;
margin-left: 12%;
margin-right: 10%;
width: 79%;
height: 150px;
margin-top: 5%;
}
.membre{
		margin-left: 35%;
}

.membreadmin{
		margin-left: 28%;
}
.formuMain{
	padding-bottom: 15%;
	margin-left: 35%;
	width: 100%;
}
.formu{
	padding-bottom: 15%;
	margin-left: 20%;
	width: 200%;
}
.formuStyle{
width: 250%;

}
table#tableinline.name{
	border-spacing: 10%;
}
#colorMessage{
	background-color: rgb(204, 204, 255, 0.5)
}


table#tableinline.message{
	padding-left: 10%;
	padding-left: 10%;
}
